@media only screen and (max-width: 1300px) {
	  .sign-in{
        left: 55%;
    }
    
    .checkbox-text{
    	left: -62px;
    }
    
    .donut-price img{
    	left: 321px;
    }
    
    .donut-left span{
    	right: 0%;
    	top: 62%;
    }
    
    .donut-right-pa{
    	padding: 11% 55%;
    }
    
    .donutsr{
    	max-width: 268px;
    }
    
    .donutsr-price-sign{
    	width: 25%;
    	position: absolute;
    	left: 83%;
    	top: 44%;
    }
	
}

@media only screen and (max-width: 1000px) {
	  .sign-in{
        left: 67%;
    }
    
    .checkbox-text{
    	left: 54px;
    	top: -31px;
    }
    
    .checkbox-second{
    	top: -30px;
    	left: 418px;
    }
    
    .donut-price img{
    	left: 276px;
    	width: 6%;
    }
    
    .donut-left span{
    	right: 0%;
    	top: 94%;
    	left: 24%;
    }
    
    .price-sign{
    	width: 10%;
    }
    
    .edit{
    	width: 11%;
    }
    
    .delete{
    	width: 12%;
    }
    
    .donutsrp{
    	padding-top: 15%;
    }
    
    .donutsr-price-sign{
    	width: 6%;
    }
	
}